.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
  animation: fadeIn 2s ease-in-out;
}

.logo {
  opacity: 0;
  animation: fadeInLogo 2s ease-in-out forwards;
}

.logo img {
  width: 150px;
  height: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLogo {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
